In [1]:
import pandas as pd

#leitura dos dados csv

df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

df.sort_values?

In [2]:
#groupBy: agrupamentos por valores únicos de uma ou mais colunas

df.groupby(by='classification')

In [4]:
#groupBy: agrupamento por valores únicos de uma ou mais colunas

df.groupby(by='classification').mean()

                temperatura
classification
confortavel       24.000000
frio              20.000000
muito quente      31.200000
quente            28.533333

In [5]:
#groupby: agrupamento por valores únicos de uma ou mais colunas

df.groupby(by='classification').sum()

                temperatura
classification
confortavel            24.0
frio                   20.0
muito quente           31.2
quente                 85.6

In [6]:
#drop: remoção de uma coluna

df.drop('temperatura', axis=1)

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [7]:
#cópia de um dataframe: evita compartilhamento de memória
#sem copy(), operações inplacce em df2 também alteram df

df2 =df.copy()

In [8]:
#sem inplace, df2 continua o mesmo
df2.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [10]:
#argumento inplce
#inplace = True aplica a transformação no próprio objeto


df3 = df2.drop("temperatura", axis=1)

In [11]:
#sem inplace, df2 continua o mesmo

df3.head()

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel

In [13]:
#inplace = true
#altera diretamente no dataframe

df2.drop("temperatura", axis=1, inplace=True)

In [14]:
df2.head()

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel