In [2]:
import pandas as pd

#leitura dos dados csv

df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

df.sort_values?

In [3]:
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [4]:
#organizar pela temperatura 

df.sort_values(by='temperatura')

         date  temperatura classification
5  2020-06-01         20.0           frio
4  2020-05-01         24.0    confortavel
3  2020-04-01         28.0         quente
2  2020-03-01         28.5         quente
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente

In [5]:
#ordenação crescente por uma coluna
df.sort_values(by='classification')

         date  temperatura classification
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio
1  2020-02-01         31.2   muito quente
0  2020-01-01         29.1         quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente

In [6]:
#ordenação crescente por mais de uma coluna

df.sort_values(by=['classification','temperatura'])

         date  temperatura classification
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio
1  2020-02-01         31.2   muito quente
3  2020-04-01         28.0         quente
2  2020-03-01         28.5         quente
0  2020-01-01         29.1         quente

In [8]:
#ordenação descrescente por uma coluna

df.sort_values(by='temperatura', ascending=False)

         date  temperatura classification
1  2020-02-01         31.2   muito quente
0  2020-01-01         29.1         quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [10]:
#ordenação crescente pelo indice

df.sort_index()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio