In [1]:
#Pandas

import pandas as pd

In [15]:
pd.read_csv?

In [2]:
#leitura dos dados csv

df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [8]:
#leitura de planilhas excel
#2 abas(worksheets)

#leitura do arquivo todo

excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [10]:
#Leitura da primeira aba(sheet1)
#dados n√∫merios com separador decinal = '.'

df2 = pd.read_excel(excel_file, sheet_name='Sheet1')

In [18]:
#leitura da segunda aba(sheet2)
#trabalhando com separador decimal =','

df3 = pd.read_excel(excel_file, sheet_name='Sheet2', decimal=',')
df3

TypeError: ignored

In [19]:
#visualizando as primeiras n linhas

n= 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [20]:
#visualizando as √∫ltimas linhas
n=3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [21]:
#dtypes

df.dtypes

date               object
temperatura       float64
classification     object
dtype: object